<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Common</title>
</head>
<body>
                <!-- 页面公共组件 -->

<!-- 导航栏底色填充 nav bgcolor fill -->
<div th:fragment="navcolor-fill" class="bg-color-fill">

</div>
<!-- 页脚 footer -->
<div th:fragment="footer" class="layui-col-md12">
    <div class="layui-footer footer border-radius-2">
        <p>联系我们 1185079906</p>
        <p>Copyright © 2020-2021 chenq 版权所有</p>
    </div>
</div>
</body>
</html>