<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>首页-设备管理系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/common/common.css}">
    <script rel="script" th:src="@{/layui/layui.js}"></script>
    <script rel="script" th:src="@{/jquery/jquery-3.5.1.js}"></script>
</head>

<body>
<!-- 导航栏底色填充 nav bgcolor fill -->
<div th:replace="common :: navcolor-fill"></div>
<!-- 页头 导航条 nav -->
<div class="layui-col-md12 margin-top-10">
    <div style="padding: 0 50px">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item margin-left-15 layui-this">
                <i class="layui-icon layui-icon-home icon-small"></i>
                <a th:href="@{/equipmentSys/router/index}">首&nbsp;&nbsp;页</a>
            </li>
            <li class="layui-nav-item margin-left-15" sec:authorize="hasRole('ADMIN')">
                <i class="layui-icon layui-icon-username icon-small"></i>
                <a th:href="@{/equipmentSys/router/userManagement}">用户管理</a>
            </li>
            <li class="layui-nav-item margin-left-15" sec:authorize="hasRole('ADMIN')">
                <i class="layui-icon layui-icon-user icon-small"></i>
                <a th:href="@{/equipmentSys/router/deptManagement}">部门管理</a>
            </li>
            <li class="layui-nav-item margin-left-15">
                <i class="layui-icon layui-icon-engine icon-small"></i>
                <a th:href="@{javascript:;}">设备管理</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a th:href="@{/equipmentSys/router/equipManagement}">设备管理</a></dd>
                    <dd sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/equipmentSys/router/equipTypeManagement}">设备类型管理</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item margin-left-15">
                <i class="layui-icon layui-icon-set icon-small"></i>
                <a href="javascript:;">维修管理
                    <span th:fragment="repairDot" id="repairDot"></span>
                </a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd sec:authorize="hasRole('ADMIN') || hasRole('REPAIR')">
                        <a th:href="@{/equipmentSys/router/repairManagement}">维修管理
                            <span th:fragment="repairNum" id="repairNum"></span>
                        </a>
                    </dd>
                    <dd><a th:href="@{/equipmentSys/router/repairHistory}">维修历史记录</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item margin-left-15">
                <i class="layui-icon layui-icon-form icon-small"></i>
                <a th:href="@{/equipmentSys/router/positionApply}">职位申请
                    <span th:fragment="applyNum" id="applyNum"></span>
                </a>
            </li>
            <!-- 已登录显示用户 -->
            <li th:fragment="currentUserInfo" class="layui-nav-item nav-right-150" sec:authorize="isAuthenticated()">
                <a href="">
                    当前用户：<span sec:authentication="name"></span>
                    <span sec:authorize="hasRole('ADMIN')">『管理员』</span>
                    <span sec:authorize="hasRole('USER')">『普通用户』</span>
                    <span sec:authorize="hasRole('REPAIR')">『维修员』</span>
                </a>
            </li>
            <!-- 未登录显示登录 -->
            <li th:fragment="loginShow" class="layui-nav-item nav-right-150" sec:authorize="!isAuthenticated()">
                <i class="layui-icon layui-icon-layer icon-small"></i>
                <a th:href="@{/equipmentSys/router/login}">登录</a>
            </li>
            <!-- 已登录显示注销 -->
            <li th:fragment="logoutShow" class="layui-nav-item nav-right-50" sec:authorize="isAuthenticated()">
                <i class="layui-icon layui-icon-logout icon-small"></i>
                <a th:href="@{/logout}">注&nbsp;&nbsp;销</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <!-- 轮播图 carousel -->
    <div class="layui-col-md12 margin-top-10">
        <div class="layui-carousel" id="carousel1">
            <div carousel-item>
                <div><img th:src="@{/images/desktop1.png}" alt="desktop1"></div>
                <div><img th:src="@{/images/desktop2.png}" alt="desktop2"></div>
                <div><img th:src="@{/images/desktop3.png}" alt="desktop3"></div>
                <div><img th:src="@{/images/image.png}" alt="image"></div>
            </div>
        </div>
    </div>
    <!-- 待办 公告栏 TODO -->
    <div class="layui-col-md12 margin-top-10">
        <div class="todo">
            <div class="layui-tab layui-tab-brief" style="margin-left: 20px" lay-filter="todo">
                <ul class="layui-tab-title" style="font-weight: bold;">
                    <li class="layui-this">我的待办
                        <span id="todo"></span>
                    </li>
                    <li id="myNotice">我的通知
                        <span id="myNoticeDot"></span>
                    </li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="todo-container">
                            <li>
                                <i class="layui-icon layui-icon-form"></i>
                                <a th:href="@{/equipmentSys/router/positionApply}">职位申请
                                    <span id="apply"></span>
                                </a>
                            </li>
                            <li>
                                <i class="layui-icon layui-icon-set"></i>
                                <a th:href="@{/equipmentSys/router/repairManagement}">设备维修
                                    <span id="repair"></span>
                                </a>
                            </li>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <!-- 我的通知内容 -->
                        <p id="myNoticeContent">暂无通知~</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="notice">
            <blockquote class="layui-elem-quote layui-quote-nm" style="font-weight: bold">公告</blockquote>
            <div class="notice-content">
                暂无公告~
            </div>
        </div>
    </div>
</div>
<!-- 页脚 footer -->
<div class="layui-col-md12 margin-top-10">
    <div th:replace="common :: footer"></div>
</div>
<script th:src="@{/common/js/index.js}"></script>
<script th:inline="javascript" sec:authorize="isAuthenticated()">
    // 主页待办 在js文件中未登录发送请求会出错 放在这里判断未登录不发送请求
    $.ajax({
        async: false,
        type: 'GET',
        url: '/equipmentSys/todoAndNotice/todo',
        data: {},
        success: function (data) {
            if ((data[0] + data[1]) > 0) {
                $('#todo').addClass("layui-badge").html(data[0] + data[1]);
            }
            if (data[0] > 0) { // 申请数
                $('#apply').addClass("layui-badge").html(data[0]);
                $('#applyNum').addClass("layui-badge").html(data[0]);
            }
            if (data[1] > 0) { // 维修数
                $('#repair').addClass("layui-badge").html(data[1]);
                $('#repairDot').addClass("layui-badge-dot");
                $('#repairNum').addClass("layui-badge").html(data[1]);
            }
        }
    });
    // 我的通知内容
    $.ajax({
        async: false,
        type: 'GET',
        url: '/equipmentSys/todoAndNotice/myNotice',
        data: {},
        success: function (data) {
            if (data === 1) {
                $('#myNoticeDot').addClass("layui-badge-dot");
                $('#myNoticeContent').html("恭喜您，您的职位申请已通过");
            }
            if (data === 2) {
                $('#myNoticeDot').addClass("layui-badge-dot");
                $('#myNoticeContent').html("非常抱歉，您的职位申请没有通过");
            }
        }
    })
</script>
</body>
</html>