<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>登录 - 设备管理系统</title>
    <link th:replace="index :: favicon">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/common/common.css}">
    <script rel="script" th:src="@{/layui/layui.js}"></script>
    <script rel="script" th:src="@{/jquery/jquery-3.5.1.js}"></script>

    <style>
        html,body {
            background-image: url("/jweb/images/desktop2.png");
        }
    </style>
</head>
<body>
<div class="layui-container">
    <div class="layui-col-md8 margin-top-120">
        <h1 style="color: #F2F2F2">欢迎登录设备管理系统</h1>
    </div>
    <div class="layui-col-md4 margin-top-120">
        <div class="login-area">
            <span>登 录</span>
            <form class="layui-form layui-form-pane" th:action="@{/equipmentSys/router/login}" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="userName" required lay-verify="required" autocomplete="off" placeholder="请输入用户名"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" class="layui-input" name="password" required lay-verify="required" placeholder="请输入密码"/>
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: left">
                    <label class="layui-form-label">记住我</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="switch" lay-skin="switch">
                    </div>
                </div>
                <div class="layui-form-item" style="line-height: 50px">
                    <span>没有账号？</span>
                    <a th:href="@{/equipmentSys/router/registry}" style="text-decoration-line: underline">去注册</a>
                    <a th:href="@{/equipmentSys/router/forgotPassword}" style="margin-left: 20px;text-decoration-line: underline">忘记密码</a>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer-position-bottom0">
    <div th:replace="index :: footer"></div>
</div>
<script>
    layui.use('form', function(){
        let form = layui.form;
    });
</script>
</body>
</html>
