<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://www.layuicdn.com/layui/css/layui.css" rel="stylesheet">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <script src="https://lib.baomitu.com/jquery/3.5.1/jquery.js"></script>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">职位</label>
        <div class="layui-input-block">
            <select name="roleType" id="roleType" lay-verify="required">
                <option value=""></option>
                <option value="0">管理员</option>
                <option value="1">普通用户</option>
                <option value="2">维修员</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门</label>
        <div class="layui-input-block">
            <select name="deptNumber" id="deptNumber" lay-verify="required">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">ss</label>
        <div class="layui-input-block">
            <input id="input1"/>
        </div>
    </div>
</form>

<select id="select">
    <option value="2">2</option>
    <option value="1">1</option>
</select>
<input id="input"/>
</body>
<script>
    layui.use('form', function () {
        let form = layui.form;
    });

    $("#roleType").blur(function (){
        console.log("roleType blur");
        console.log($(this).val());
    });
    $("#roleType").click(function (){
        console.log("roleType click");
        console.log($(this).val());
    });
    $("#select").blur(function (){
        let s = $(this).val();
        console.log(s);
    });
    $("#input").blur(function (){
       alert("input blur");
    });
    $("#input1").blur(function (){
        console.log("input1 blur")
        console.log($(this).val());
    });
    $("#input1").click(function (){
        console.log("input1 click")
        console.log($(this).val());
    });
</script>
</html>