<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xqplus.equipmentsys.mapper.IRepairMapper">
    <select id="getList"
            resultType="cn.xqplus.equipmentsys.form.RepairForm">
        SELECT
            r.id,
            r.repair_number,
            r.report_time,
            e.equip_number,
            e.equip_name,
            e.equip_state,
            t.equip_type_name,
            u.user_name
        FROM
            t_repair r
        LEFT JOIN
            t_equipment e
        ON
            r.equip_number = e.equip_number
        LEFT JOIN
            t_equipment_type t
        ON
            e.equip_type_number = t.equip_type_number
        LEFT JOIN
            t_user u
        ON
            r.reporter_number = u.user_number
        WHERE
            e.equip_state = 1
        AND r.is_end = 0
        AND r.is_del = 0
        AND e.is_del = 0
        AND t.is_del = 0
        AND u.is_del = 0
        <if test="q.repairNumber != null and q.repairNumber != ''">
            AND r.repair_number = #{q.repairNumber}
        </if>
        <if test="q.equipName != null and q.equipName != ''">
            AND e.equip_name LIKE CONCAT('%', CONCAT(#{q.equipName}, '%'))
        </if>
        <if test="q.equipTypeNumber != null and q.equipTypeNumber != ''">
            AND t.equip_type_number = #{q.equipTypeNumber}
        </if>
        <if test="q.reporterName != null and q.reporterName != ''">
            AND u.user_name LIKE CONCAT('%', CONCAT(#{q.reporterName}, '%'))
        </if>
        <if test="q.startTime != null and q.startTime != ''">
            AND r.report_time &gt;= #{q.startTime}
        </if>
        <if test="q.endTime != null and q.endTime != ''">
            AND r.report_time &lt;= #{q.endTime}
        </if>
    </select>

    <select id="getListByNumberDesc"
            resultType="cn.xqplus.equipmentsys.model.Repair">
        SELECT
            repair_number
            -- TODO
        FROM
            t_repair
        WHERE
            is_del = 0
        ORDER BY
            repair_number
        DESC
    </select>
</mapper>