<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>部门管理 - 设备管理系统</title>
    <link th:replace="index :: favicon">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/common/common.css}">
    <script rel="script" th:src="@{/layui/layui.js}"></script>
    <script rel="script" th:src="@{/jquery/jquery-3.5.1.js}"></script>
    <script rel="script" th:src="@{/common/common.js}"></script>
</head>

<body>
<!-- 导航栏底色填充 nav bgcolor fill -->
<div th:replace="index :: navcolor-fill"></div>
<!-- 页头 导航条 nav -->
<div class="layui-col-md12 margin-top-10">
    <div style="padding: 0 50px">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item margin-left-15">
                <i class="layui-icon layui-icon-home icon-small"></i>
                <a th:href="@{/equipmentSys/router/index}">首&nbsp;&nbsp;页</a>
            </li>
            <li class="layui-nav-item margin-left-15" sec:authorize="hasRole('ADMIN')">
                <i class="layui-icon layui-icon-username icon-small"></i>
                <a th:href="@{/equipmentSys/router/userManagement}">用户管理</a>
            </li>
            <li class="layui-nav-item margin-left-15 layui-this" sec:authorize="hasRole('ADMIN')">
                <i class="layui-icon layui-icon-user icon-small"></i>
                <a th:href="@{/equipmentSys/router/deptManagement}">部门管理</a>
            </li>
            <li class="layui-nav-item margin-left-15">
                <i class="layui-icon layui-icon-engine icon-small"></i>
                <a href="javascript:;">设备管理</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a th:href="@{/equipmentSys/router/equipManagement}">设备管理</a></dd>
                    <dd sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/equipmentSys/router/equipTypeManagement}">设备类型管理</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item margin-left-15">
                <i class="layui-icon layui-icon-set icon-small"></i>
                <a href="javascript:;">维修管理
                    <span th:replace="index :: repairDot"></span>
                </a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd sec:authorize="hasRole('ADMIN') || hasRole('REPAIR')">
                        <a th:href="@{/equipmentSys/router/repairManagement}">维修管理
                            <span th:replace="index :: repairNum"></span>
                        </a>
                    </dd>
                    <dd><a th:href="@{/equipmentSys/router/repairHistory}">维修历史记录</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item margin-left-15">
                <i class="layui-icon layui-icon-form icon-small"></i>
                <a th:href="@{/equipmentSys/router/positionApply}">职位申请
                    <span th:replace="index :: applyNum"></span>
                </a>
            </li>
            <!-- 已登录显示用户 -->
            <li th:replace="index :: currentUserInfo"></li>
            <!-- 未登录显示登录 -->
            <li th:replace="index :: loginShow"></li>
            <!-- 已登录显示注销 -->
            <li th:replace="index :: logoutShow"></li>
        </ul>
    </div>
</div>
<!-- 用户详细信息层 -->
<div th:replace="index :: userInfo"></div>

<div class="container">
    <!-- 搜索框 search -->
    <div class="layui-col-md12 margin-top-10">
        <div class="search-panel border-radius-2">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-col-md4">
                        <label class="layui-form-label">部门编号：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="deptNumber" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">部门名称：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="deptName" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <label class="layui-form-label">部门类型：</label>
                        <div class="layui-input-inline">
                            <select name="deptType" id="deptType">
                                <option value=""></option>
                                <option value="管理">管理</option>
                                <option value="用户">用户</option>
                                <option value="维修">维修</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
<!--                    <div class="layui-inline">-->
<!--                        <label class="layui-form-label">部门名称：</label>-->
<!--                        <div class="layui-input-inline">-->
<!--                            <input type="text" class="layui-input" name="deptName" autocomplete="off">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-col-md4">
                        <label class="layui-form-label">创建时间：</label>
                        <div class="layui-input-inline">
                            <!--<i class="layui-icon layui-icon-logout icon-date" id="dateIcon"></i>-->
                            <input type="text" class="layui-icon layui-input" style="font-size: 13px; cursor: pointer" name="createTime" id="createTime" placeholder="&#xe637;">
                        </div>
                    </div>
                    <!-- 用于数据提交 -->
                    <input type="hidden" name="startTime">
                    <input type="hidden" name="endTime">
                </div>
                <div class="layui-form-item line-height-60" style="text-align: center">
                    <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="search">搜索</button>
                    <button type="reset" id="reset" class="layui-btn margin-left-100 layui-btn-primary">重置</button>
                </div>
            </form>
        </div>
    </div>
    <!-- 数据表格 table -->
    <!-- 表格带有上下10的margin,所以class不带margin-top-10 -->
    <div class="layui-col-md12">
        <table class="layui-hide" id="deptData" lay-filter="deptData"></table>
        <script type="text/html" id="topToolBar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="add">新增部门</button>
                <button class="layui-btn layui-btn-sm layui-btn-warm layui-disabled" lay-event="deleteBatch">批量删除</button>
                <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="exportExcel">导出列表Excel</button>
                <button class="layui-btn layui-btn-sm layui-btn-warm layui-disabled" lay-event="importBatch">批量导入</button>
            </div>
        </script>
        <script type="text/html" id="rightToolBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
</div>
<!-- 页脚 footer -->
<div th:replace="index :: footer"></div>
<script th:src="@{/common/js/department.js}"></script>
</body>
</html>